# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/.vs/C-Compiler/v14/*.suo
/C-Compiler.Debug/*.pdb
/*.opendb
/*.sdf
/Debug
/Release
/*.ilk
/*.pdb
/machine.Debug
/machine.Release
/*.iobj
/*.ipdb
